django 5.1 A high-level Python web framework that encourages rapid development and clean, pragmatic design.
|-- asgiref >=3.8.1,<4
|-- sqlparse >=0.3.1
`-- tzdata *
djangorestframework 3.15.2 Web APIs for Django, made easy.
`-- django >=4.2
    |-- asgiref >=3.8.1,<4 
    |-- sqlparse >=0.3.1 
    `-- tzdata * 
pytest 8.3.2 pytest: simple powerful testing with Python
|-- colorama *
|-- iniconfig *
|-- packaging *
`-- pluggy >=1.5,<2
